@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 500px;
  flex-direction: column;
  font-family: "Fredoka One", sans-serif;
  background: radial-gradient(#e9e4f0, #d3cce3);
}

#animation {
  height: 400px;
  position: relative;
}
#animation .tutorial {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30px;
}
#animation .tutorial span {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #ccc;
  color: #ffa7b6;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 10px 0 #ffa7b6;
  -webkit-animation: pushButton 0.3s linear infinite both;
          animation: pushButton 0.3s linear infinite both;
}
#animation .tutorial span:nth-child(2n+1) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
#animation .tutorial .text {
  margin-top: 15px;
  text-align: center;
  color: #aca0b3;
  font-size: 14px;
}
#animation .value {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translatex(-50%);
  font-size: 28px;
  color: #ff8da1;
  font-family: "Fredoka One", sans-serif;
}

.power {
  width: 460px;
  height: 20px;
  border-radius: 8px;
  background: #eee;
  border: 2px solid #eee;
  position: relative;
  overflow: hidden;
}
.power .bar {
  position: absolute;
  background: pink;
  background: linear-gradient(to right, #ee9ca7, #ffdde1);
  height: 100%;
  width: 0%;
}

.run {
    width: 100%;
    display: none;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    padding-top: 30px;
}
.run button{
    font-family: "Fredoka One", sans-serif;
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    color: #ff8da1;
    border:1px solid #ff8da1;
    border-radius: 20px;
}

@media screen and (max-width:767px){
    .run{
        display: flex;
    }
    .power{
        width: 100%;
    }
    body{
        height: 90vh;
        padding: 0 20px;
    }
}

@-webkit-keyframes pushButton {
  50% {
    box-shadow: 0 1px 0 #ffa7b6;
    transform: translatey(9px);
    background: pink;
    color: white;
  }
}

@keyframes pushButton {
  50% {
    box-shadow: 0 1px 0 #ffa7b6;
    transform: translatey(9px);
    background: pink;
    color: white;
  }
}